{% extends 'base.html' %}

{% block title %}Home - Your Website{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Your Website!</h1>
    <p class="lead">This is a super simple home page.</p>
    <hr class="my-4">
    <p>Feel free to explore the site.</p>
    <div class="btn-group" role="group" aria-label="Buttons">
        <a class="btn btn-secondary" href="{% url 'uploadpage' %}" role="button">Article</a>
        <a class="btn btn-secondary ml-4" href="{% url 'uploadimage' %}" role="button">Media</a>
        <a class="btn btn-secondary ml-4" href="#" role="button">Captions</a>
        <a class="btn btn-secondary ml-4" href="{% url 'gamedetails' %}" role="button">Game Details</a>
    </div>
</div>
{% endblock %}