<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css
">

<div class="jumbotron  "  style="background-color: rgba(255, 255, 255, 0.5);">
<h2 class="display-4">{{ summary.team_info.Team_1 }} - {{summary.Team_Comparison.Goals.Team_1}} <small> FT </small> {{summary.Team_Comparison.Goals.Team_2}} - {{ summary.team_info.Team_2 }}</h2>
<div class="row w-100">
        <div class="col-md-3">
            <div class="card border-info mx-sm-1 p-3">
                <div class="card border-info shadow text-info p-3 my-card d-flex align-items-center" ><span class="fa fa-calendar" aria-hidden="true"></span></div>
                <div class="text-info text-center mt-3"><h4>Date</h4></div>
                <div class="text-info text-center mt-2"><h3>{{ summary.game_info.date }}</h3></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-success mx-sm-1 p-3">
                <div class="card border-success shadow text-success p-3 my-card d-flex align-items-center"><span class="fa fa-users" aria-hidden="true"></span></div>
                <div class="text-success text-center mt-3"><h4>Fans</h4></div>
                <div class="text-success text-center mt-2"><h3>{{ summary.game_info.attendance }}</h3></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card d-flex align-items-center" ><span class="fa fa-map-marker " aria-hidden="true"> </span></div>
                <div class="text-danger text-center mt-3"><h4>Stadium</h4></div>
                <div class="text-danger text-center mt-2"><h3>{{ summary.game_info.location }}</h3></div>
            </div>
        </div>
     </div>
</div>
